:root {
  --main-bg-color: #eeeeee;
}

body {
  background: var(--main-bg-color);
  color: darkslategray;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-bottom: 48px;
}

h1, h2 {
  font-weight: bold;
}

.app {
  margin: 60px;
}

.title {
  margin-bottom: 50px;
  margin-top: 0px;
}

.container {
  background: var(--main-bg-color);
  border-radius: 10px;
  margin-bottom: 48px;
  width: auto;
}