:root {
  --primary-color: royalblue;
  --secondary-color: tomato;
  --warning-color: gold;
  --success-color: springgreen;
  --danger-color: Crimson;
}

pancake-button {
  padding: 12px 24px;
  border-radius: 24px;
  font-weight: 800;
  margin: 12px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

pancake-button:hover {
  transform: translate(0, 2px);
  filter: brightness(120%);
}

pancake-button:active {
  transform: translate(0, 6px);
}

pancake-button[theme="primary"] {
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0px 12px 16px rgba(0, 128, 128, 0.5);
}

pancake-button[theme="secondary"] {
  background-color: var(--secondary-color);
  color: white;
  box-shadow: 0px 12px 16px rgba(255, 99, 71, 0.5);
}

pancake-button[theme="warning"] {
  background-color: var(--warning-color);
  color: black;
  box-shadow: 0px 12px 16px rgba(255, 215, 0, 0.5);
}

pancake-button[theme="danger"] {
  background-color: var(--danger-color);
  color: white;
  box-shadow: 0px 12px 16px rgba(178, 34, 34, 0.5);
}

pancake-button[theme="success"] {
  background-color: springgreen;
  color: black;
  box-shadow: 0px 12px 16px rgba(0, 255, 127, 0.5);
}

pancake-switch {
  background-color: var(--danger-color);
  width: 80px;
  height: 40px;
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 2px rgba(255, 255, 255, 0.1);
  position: relative; 
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
}

pancake-switch[on] {
  background-color: var(--success-color);
}

pancake-switch .button {
  border-radius: 50%;
  background: ivory;
  width: 36px;
  height: 36px;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -2px -2px 2px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s;
  margin: 2px;
}

pancake-switch[on] > .button {
  transform: translate(40px, 0);
}